# Logs
npm-debug

# Dependency directories
node_modules/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv files
.env

# Build directory
dist/

# TSC cache
.tsbuildinfo
